.services
    padding-bottom: $padding-vertical
    &__wrap
        display: flex
        flex-direction: column
        align-items: center
    &__title
        text-align: center
        margin-bottom: $base * 2
    &__subtitle
        font-size: 36px
        line-height: 40px
        font-weight: $fw-regular
        margin-bottom: $base * 20
        text-align: center
    &__list
        display: grid
        grid-template-columns: repeat(3,1fr)
        grid-column-gap: $base * 39
        grid-row-gap: $base * 21
        margin-bottom: $base * 20
    &__item
        display: grid
        grid-template-rows: min-content 1fr min-content
        transition: $transition-ease-in-out
        &--hidden
            opacity: 0
            visibility: hidden
            position: absolute
            clip: rect(0 0 0 0)
            width: 1px
            height: 1px
            margin: -1px
        &-title
            color: $main-info
            margin-bottom: $base * 3
            font-weight: fw-bold
        &-info
            color: $main-info
            margin: 0
            margin-bottom: $base * 10
            font-size: 16px
            line-height: 26px
        &-link
            text-decoration: none
            color: $primary
            display: inline-grid
            grid-auto-flow: column
            grid-column-gap: $base * 2
            justify-self: start
            align-items: center
            &-img
                width: 14px
                height: 9px
                fill: $primary
                transition: $transition-ease
