.main
    background-color: $bg
    &__wrap
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 10*$base min-content min-content 35*$base
        position: relative
        grid-row-gap: 5 * $base
    &__title
        grid-column: 1
        grid-row: 2

        font-style: normal
        font-weight: 800
        font-size: 64px
        line-height: 80px
        margin: 0
        letter-spacing: 0.01em
        text-transform: uppercase
        color: $main-info
    &-slider
        grid-column: 1 / 3
        grid-row: 1 / 5
        max-width: 100%
    &-slide
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr min-content

        &__img
            height: 100%
            width: 100%
            object-fit: cover
            vertical-align: bottom
            &-wrap
                grid-column: 2
                grid-row: 1 / 3
                max-width: 700px
                max-height: 750px
        &__text
            grid-column: 1
            grid-row: 2
            padding-right: 4 * $base
            margin-bottom: 9 * $base
        &__title
            font-style: normal
            font-weight: 800
            font-size: 32px
            line-height: 32px
            color: $main-info
            letter-spacing: 0.01em
            margin: 0px 0px 21px 0px

        &__info
            display: inline-grid
            grid-auto-flow: column
            grid-column-gap: 5 * $base-half
            align-items: center
            &-img
                width: 3 * $base
                height: 3 * $base
            &-text
                font-style: normal
                font-weight: normal
                font-size: 18px
                line-height: 18px
                color: $second-info
    &-slider
        &-buttons
            position: absolute
            right: 120px
            bottom: 64px
            z-index: 2
        &-button
            width: 80px
            height: 80px
            background-color: $secondary
            cursor: pointer
            border: none
            padding: 3 * $base
            &__img
                width: 32px
                height: 32px
                fill: $white
                transition: .4s ease-in-out

.form-search
    grid-column: 1 / 3
    grid-row: 3

    align-items: center
    position: relative
    z-index: 2
    max-width: 744px
    background-color: $white
    padding: 2 * $base
    display: grid
    grid-auto-flow: column
    grid-template-columns: 1fr 1fr min-content
    grid-column-gap: 18px
    max-height: 108px
    border: 1px solid rgba(229, 229, 229, 0.5)
    box-shadow: 0px 4px 40px rgba(29, 133, 208, 0.25)
.input
    &-search
        background-color: $bg
        padding: 3 * $base
        display: inline-grid
        grid-auto-flow: column
        justify-content: flex-start
        align-items: center
        grid-column-gap: 18px
        &__img
            width: 3 * $base
            height: 3 * $base
    &-geo
        &__text
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 18px
            color: $second-info
    &-search
        &__text
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 18px
            color: $second-info
.button-search
    background-color: $primary
    border: 4px solid $primary
    cursor: pointer
    padding: 3 * $base-half
    width: 9 * $base
    height: 9 * $base
    &__img
        width: 5 * $base
        height: 5 * $base
        fill: $white
        transition: .4s ease-in-out

.swiper-slide--main
    display: grid
