.service
    padding: 120px 0px 0px 0px
    position: relative
    &__wrap
        display: grid
        grid-template-rows: min-content min-content min-content
        grid-template-columns: 1fr 1fr
        grid-column-gap: 30px
        grid-row-gap: 40px
    &__headline
        grid-column: 1 / 3
        grid-row: 1
    &__title
        grid-column: 1
        grid-row: 2

        font-style: normal
        font-weight: 800
        font-size: 48px
        line-height: 48px
        margin: 0
        letter-spacing: 0.01em
        color: $main-info
    &__info
        grid-column: 2
        grid-row: 2

        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 28px
        margin: 0
        color: $main-info
        max-width: 420px
    &__list
        grid-column: 1 / 3
        grid-row: 3
        display: grid
        grid-auto-flow: column
        grid-template-columns: 1fr 1fr 1fr
        grid-column-gap: 30px

        list-style: none
        margin: 0
        padding: 0
    &-card
        padding: 160px 43px 43px 43px
        background-color: $other
        box-shadow: 0px 20px 55px rgba(0, 0, 0, 0.05)
        position: relative
        height: 100%
        display: grid
        grid-template-columns: repeat (2,min-content)
        grid-template-rows: min-content 1fr min-content
        grid-column-gap: 11px
        overflow: hidden
        &__num
            font-weight: 800
            font-size: 140px
            line-height: 48px
            color: $bg
            opacity: 0.06
            position: absolute
            left: -20px
            top: 10px

        &__img
            width: 40px
            height: 40px
            position: absolute
            top: 60px
            right: 45px
            fill: $white
            transition: .4s ease-in-out
        &__title
            font-style: normal
            font-weight: normal
            font-size: 24px
            line-height: 24px
            color: $white
            margin: 0px 0px 24px 0px
            grid-column: 2
            grid-row: 1
            transition: .4s ease-in-out
            &-num
                font-style: normal
                font-weight: normal
                font-size: 24px
                line-height: 24px
                color: $white
                grid-column: 1
                grid-row: 1
                transition: .4s ease-in-out
        &__info
            grid-column: 2
            grid-row: 2
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 28px
            color: $white
            margin: 0px 0px 47px 0px
            transition: .4s ease-in-out
        &__link
            grid-column: 2
            grid-row: 3
            justify-self: start
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 18px
            color: $white
            transition: .4s ease-in-out
            position: relative
            z-index: 2
            &::after
                content: ''
                display: block
                position: absolute
                bottom: 0
                left: auto
                right: 0
                width: 0%
                height: 50%
                background-color: $primary
                z-index: -1
                transition: .4s ease
    &-bg
        position: absolute
        left: 0
        bottom: 0px
        z-index: -1
        height: 135px
        width: 100%
        background-color: $bg
